@import "tailwindcss";




html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark {
  background-color: #1a202c; /* Dark mode background */
  color: #cbd5e0; /* Light text color for dark mode */
}
body.light {
  background-color: #f7fafc; /* Light mode background */
  color: #2d3748; /* Dark text color for light mode */
}
@layer base {
  body {
    @apply bg-gray-100 text-gray-800;
  }
}
@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}
